$primary: rgba(24, 91, 222, 1);

$error: rgba(244, 79, 71, 1);

$warning: rgba(252, 185, 56, 1);

$success: rgba(69, 208, 108, 1);

$dark-primary: rgba(10, 10, 12, 1);
$dark-secondary: rgba(24, 25, 27, 1);

$gray-primary: rgba(137, 137, 137, 1);

$white-primary: rgba(253, 253, 253, 1);
$white: rgba(255, 255, 255, 1);